@model Mall.Models.MallCenter

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> @Html.DisplayFor(m => m.MallName)</h1>
    <h4 class="display-4">Welcome to RIS Mall app</h4>
    <div>
        <a class="col-md-10">@Html.DisplayFor(m => m.MallDescription)</a>
    </div>
</div>
